In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('database.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477732 entries, 0 to 477731
Data columns (total 29 columns):
UNIQUE KEY             477732 non-null int64
DATE                   477732 non-null object
TIME                   477732 non-null object
BOROUGH                338390 non-null object
ZIP CODE               338329 non-null float64
LATITUDE               356600 non-null float64
LONGITUDE              356600 non-null float64
LOCATION               356600 non-null object
ON STREET NAME         364552 non-null object
CROSS STREET NAME      335574 non-null object
OFF STREET NAME        58511 non-null object
PERSONS INJURED        477732 non-null int64
PERSONS KILLED         477732 non-null int64
PEDESTRIANS INJURED    477732 non-null int64
PEDESTRIANS KILLED     477732 non-null int64
CYCLISTS INJURED       477732 non-null int64
CYCLISTS KILLED        477732 non-null int64
MOTORISTS INJURED      477732 non-null int64
MOTORISTS KILLED       477732 non-null int64
VEHICLE 1 TYPE         473777 non-null object
VEHICLE 2 TYPE         396795 non-null object
VEHICLE 3 TYPE         30264 non-null object
VEHICLE 4 TYPE         6831 non-null object
VEHICLE 5 TYPE         1683 non-null object
VEHICLE 1 FACTOR       474483 non-null object
VEHICLE 2 FACTOR       415401 non-null object
VEHICLE 3 FACTOR       31638 non-null object
VEHICLE 4 FACTOR       7232 non-null object
VEHICLE 5 FACTOR       1762 non-null object
dtypes: float64(3), int64(9), object(17)
memory usage: 74.7+ MB

In [11]:
data.head()

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR
0,3146911,01/01/2015,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN
1,3146180,01/01/2015,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN
2,3146384,01/01/2015,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN
3,3146013,01/01/2015,0:30,BROOKLYN,11213.0,40.673845,-73.925080,"(40.6738445, -73.9250801)",BUFFALO AVENUE,SAINT MARKS AVENUE,...,BUS,PASSENGER VEHICLE,NaN,NaN,NaN,LOST CONSCIOUSNESS,NaN,NaN,NaN,NaN
4,3146120,01/01/2015,0:33,NaN,NaN,NaN,NaN,NaN,RICHMOND TERRACE,SOUTH AVENUE,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN

In [19]:
drop_column = ['UNIQUE KEY','LATITUDE','LONGITUDE','LOCATION','ON STREET NAME',
               'CROSS STREET NAME','OFF STREET NAME','DATE','TIME']
data_with_drop = data.drop(drop_column,axis=1)
data_with_drop.head()

data['DATE'].unique().shape

(790,)

In [20]:
data_with_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477732 entries, 0 to 477731
Data columns (total 20 columns):
BOROUGH                338390 non-null object
ZIP CODE               338329 non-null float64
PERSONS INJURED        477732 non-null int64
PERSONS KILLED         477732 non-null int64
PEDESTRIANS INJURED    477732 non-null int64
PEDESTRIANS KILLED     477732 non-null int64
CYCLISTS INJURED       477732 non-null int64
CYCLISTS KILLED        477732 non-null int64
MOTORISTS INJURED      477732 non-null int64
MOTORISTS KILLED       477732 non-null int64
VEHICLE 1 TYPE         473777 non-null object
VEHICLE 2 TYPE         396795 non-null object
VEHICLE 3 TYPE         30264 non-null object
VEHICLE 4 TYPE         6831 non-null object
VEHICLE 5 TYPE         1683 non-null object
VEHICLE 1 FACTOR       474483 non-null object
VEHICLE 2 FACTOR       415401 non-null object
VEHICLE 3 FACTOR       31638 non-null object
VEHICLE 4 FACTOR       7232 non-null object
VEHICLE 5 FACTOR       1762 non-null object
dtypes: float64(1), int64(8), object(11)
memory usage: 52.8+ MB

In [25]:
from sklearn.preprocessing import OneHotEncoder

def transform_categorical_feature(data):
    
    category_columns = [col_name in data.columns if (data[col_name].unique().shape[0]<50)]
    
    encoder = OneHotEncoder().fit(data_with_drop)
    
    temp = encoder.fit_transform(data_with_drop)
    
    for
    
    return encoder,data

SyntaxError: invalid syntax (<ipython-input-25-1eafcf9c19e6>, line 6)

In [24]:
[col_name in data.columns if (data[col_name].unique().shape[0]<50)]

SyntaxError: invalid syntax (<ipython-input-24-f138422077d3>, line 1)